.onboarding {
  .card {
    width: 90%;
    height: 80vh;
    border-radius: 40px;
    margin: 0;
    margin-inline: 0;
    margin: 10% auto 0 auto;
    overflow: visible;


    .ion-slides-onboarding {
      //height: 108%;
      ion-card-content {
        br {
          lin-height: 0;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;

        .headline {
          color: #11B28A;
          font-size: 34px;
          width: 85%;
          font-weight: 900;
          margin: 0 0 7.5% 0;
        }

        //        .description {
        //            color: #131821;
        //            width: 85%;
        //            font-weight: 700;
        //            margin: 7.5% 0 calc(20% + 50px) 0;
        //        }
        ion-button {
          width: 85%;
          height: 50px;
          //            position: absolute;
          //            bottom: 67.5px;
          color: #131821;
          font-weight: 700;
          margin-bottom: 10px;
          margin-top: 0;
        }

        .finish-button {
          width: 85%;
          height: 50px;
          //            position: absolute;
          //            bottom: 67.5px;
          color: #131821;
          font-weight: 700;
        }
      }
    }
  }

  .skip-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    transition: opacity .2s ease-in-out;

    &.hide-skip {
      opacity: 0;
    }

    .skip-cross {

    }

    h2 {
      color: white;
      font-size: 20px;
      width: 150px;
      margin: 0 0 0 10px;
    }
  }
}

::ng-deep .swiper-pagination {
  // TODO: Doesn't work, as right now, the thing is destroyed and initialized, not just disabled
  transition: opacity .5s ease-in-out;

  .hide-pagination {
    opacity: 0;
  }

  .swiper-pagination-bullet {
    --bullet-background: #D7DCE1;
    opacity: 1;
  }
}
