<ion-content fullscreen class="onboarding">
  <ion-card class="ion-text-center card">
    <ion-slides
      class="ion-slides-onboarding"
      [pager]="true"
      [options]="sliderOptions"
      (ionSlideDidChange)="slideChanged()"
    >
      <ion-slide>
        <ion-card-content>
          <h1 class="headline">{{ 'ONBOARDING.HEADLINE_PAGE1' | translate }}</h1>
          <br>
          <img src="assets/onboarding/onboarding_1.svg">
          <br>
          <span class="description" [innerHTML]="'ONBOARDING.PAGE1' | translate"></span>
          <br>
          <ion-button
            shape="round"
            size="large"
            expand="block"
            align="bottom"
            class="begin-button"
            (click)="nextSlide()"
          >
            {{ 'ONBOARDING.BEGIN_ONBOARDING' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-slide>
      <ion-slide>
        <ion-card-content>
          <h1 class="headline">{{ 'ONBOARDING.HEADLINE_PAGE2' | translate }}</h1>
          <br>
          <img src="assets/onboarding/onboarding_2.svg">
          <br>
          <span class="description" [innerHTML]="'ONBOARDING.PAGE2' | translate"></span>
        </ion-card-content>
      </ion-slide>
      <ion-slide>
        <ion-card-content>
          <h1 class="headline">{{ 'ONBOARDING.HEADLINE_PAGE3' | translate }}</h1>
          <br>
          <img src="assets/onboarding/onboarding_3.svg">
          <br>
          <span class="description" [innerHTML]="'ONBOARDING.PAGE3' | translate"></span>
        </ion-card-content>
      </ion-slide>
      <ion-slide>
        <ion-card-content>
          <h1 class="headline">{{ 'ONBOARDING.HEADLINE_PAGE4' | translate }}</h1>
          <br>
          <img src="assets/onboarding/onboarding_4.svg">
          <br>
          <span class="description" [innerHTML]="'ONBOARDING.PAGE4' | translate"></span>
        </ion-card-content>
      </ion-slide>
      <ion-slide>
        <ion-card-content>
          <h1 class="headline">{{ 'ONBOARDING.HEADLINE_PAGE5' | translate }}</h1>
          <br>
          <img src="assets/onboarding/onboarding_5.svg">
          <br>
          <span class="description" [innerHTML]="'ONBOARDING.PAGE5' | translate"></span>
          <br>
          <ion-button
            class="finish-button"
            shape="round"
            size="large"
            expand="block"
            align="bottom"
            (click)="finish()"
          >
            {{ 'ONBOARDING.OK_GO' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <div
    class="skip-wrapper"
    (click)="skipOnboarding()"
    [ngClass]="{'hide-skip': activeSlide === 4}"
  >

    <h2><ion-icon name="close"></ion-icon>
      {{ 'ONBOARDING.SKIP_ONBOARDING' | translate }}
    </h2>
  </div>
</ion-content>
