<ion-content class="staticcontent">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Die Bundestagswahl 2021 ist vorbei!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="margin-bottom: 1em;">Damit schließen wir auch dieses Tool. Die Fragen der Nutzer:innen und die Antworten der Parteien findest du bald auf unserer Webseite <a href="https://www.plus-me.de/">https://www.plus-me.de/</a> zu deiner freien Verfügung. Persönliche Daten löschen wir.</p>
      <p>Danke für dein Interesse und bis zum nächsten Mal!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
