<ion-menu side="start" contentId="main">
  <ion-header class="title-header">
    <ion-toolbar color="white">
      <ion-title>
          <img class="title-image" src="assets/icon/profile.svg">
          {{ 'MENU.MENU' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
        <ion-item
                menuClose
                [ngClass]="{'incoming': true}"
                (click)="showInbox()"
                [click]>
            {{ 'MENU.INBOX' | translate }}
        </ion-item>
        <ion-item
                menuClose
                class="main-navigation"
                (click)="showMine()">
            {{ 'MENU.MINE' | translate }}
        </ion-item>
        <ion-item
                menuClose
                class="main-navigation"
                (click)="showDismissed()">
            {{ 'MENU.DISMISSED' | translate }}
        </ion-item>

        <ion-item-divider></ion-item-divider>

        <ion-item menuClose (click)="showPrivacy()">{{ 'MENU.PRIVACY' | translate }}</ion-item>
        <ion-item menuClose (click)="showImprint()">{{ 'MENU.IMPRINT' | translate }}</ion-item>
        <ion-item menuClose (click)="showLicenses()">{{ 'MENU.LICENSES' | translate }}</ion-item>
        <!--
      <ion-item menuClose (click)="goToContact()">
        {{ 'MENU.CONTACT' | translate }}
      </ion-item>
      <ion-item menuClose (click)="goToFaq()">
        {{ 'MENU.FAQ' | translate }}
      </ion-item>

      <ion-item menuClose (click)="showOnboarding()">{{ 'MENU.ONBOARDING' | translate }}</ion-item>
      <ion-item menuClose (click)="showUsageConditions()">{{ 'AGB.TITLE' | translate }}</ion-item>
      <ion-item menuClose (click)="showPrivacy()">{{ 'PRIVACY.TITLE' | translate }}</ion-item>
      <ion-item menuClose (click)="showImprint()">{{ 'MENU.IMPRINT' | translate }}</ion-item>
      <ion-item menuClose (click)="logout()">{{ 'MENU.LOGOUT' | translate }}</ion-item>
      -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-tabs #content>
  <ion-tab-bar *ngIf="isLoggedIn | async">
    <ion-tab-button
      tab="random-question">
      <ion-icon src="/assets/icons/tabs/search-questions.svg"></ion-icon>
      <ion-label>{{ 'TABS.MATCH' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="start">
      <ion-icon src="/assets/icons/tabs/home.svg"></ion-icon>
      <ion-label>{{ 'TABS.HOME' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search-questions">
      <ion-icon src="/assets/icons/tabs/find-questions.svg"></ion-icon>
      <ion-label>{{ 'TABS.SEARCH' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-content fullscreen class="onboarding" *ngIf="onboardingVisible">
  <ion-card>
    <ion-slides pager="true">
      <ion-slide>
        <div class="slide">
          <img src="assets/icon/onboarding/page1.svg">
          <span [innerHTML]="'ONBOARDING.PAGE1' | translate"></span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
        <img src="assets/icon/onboarding/page2.svg">
        <span [innerHTML]="'ONBOARDING.PAGE2' | translate"></span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="assets/icon/onboarding/page3.svg">
          <span [innerHTML]="'ONBOARDING.PAGE3' | translate"></span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="assets/icon/onboarding/page4.svg">
          <span [innerHTML]="'ONBOARDING.PAGE4' | translate"></span>
          <ion-button
            block
            (click)="hideOnboarding()">
            {{ 'ONBOARDING.OK_GO' | translate }}
          </ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="blur-svg">
    <defs><filter id="blur-filter"><feGaussianBlur stdDeviation="3"></feGaussianBlur></filter></defs>
  </svg>
</ion-content>
