.question {
  border-radius: 16px;

}

app-question-list-item {
  width: 100%;
}

.submitter {
  text-align: center;

  .vote-to-see {
    color: gray;
  }
}

.up-vote {
  text-align: -webkit-right;
}

.answer {
  width: 100%;
  border-radius: 16px;
  margin-right: 0;
  margin-left: 0;
}

.answer-list {
  background: transparent;

  ion-item {
    --background: transparent;
    --border: none;
    border: none;

    ion-fab-button {
      --box-shadow: none;
    }
  }
  ion-item:last-child {
    padding-bottom: 70px;
  }
}


.meta ion-col ion-chip {
  height: 1.8em;
  padding-left: 0;
  padding-right: 3px;

  ion-icon {
    margin-left: 3px;
  }
}

.stats-label {
  padding-right: 0.5em;
}

.mine {
  background: rgba(14, 153, 118, 1);
  color: white;
  ion-text {
    white-space: nowrap;
  }
}

.answers {
  text-align: center;
}

.status-chip {
  text-align-last: end;
}
