<app-navbar title="profile.title"></app-navbar>

<ion-content class="staticcontent">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ "profile.cardTitle" | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{ "profile.logoutLabel" | translate}}</ion-text>
      <ion-button (click)="logout()"
                  size="large"
                  expand="block">
        {{ "profile.logout" | translate }}
      </ion-button>
      <ion-text>{{ "profile.deleteLabel" | translate}}</ion-text>
      <ion-button (click)="deleteAccount()"
                  expand="block"
                  color="danger">
        {{ "profile.delete" | translate  }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
