app-election-over {
  .description {
    p {
      font-size: 16px !important;
      margin-bottom: 1em;
    }

    p:last-child {
      margin-bottom: 0;
    }

  }

  .question {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-position: inside;
    }

    ion-card-title {
      font-size: 20px;
      text-align: justify;
      hyphens: auto;
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
    }

    li {
      margin-top: 1em;
    }

    li:first-child {
      margin-top: 0;
    }

    p {
      font-size: 16px;
    }
  }
}
