// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$button-ios-border-radius: 10px;
$button-ios-text-color: white;
$button-ios-outline-border-color: white;
$button-ios-outline-border-width: 2px;
$button-ios-outline-text-color: white;

$text-input-ios-show-focus-highlight: false;
$text-input-ios-background-color: white;

$tabs-ios-tab-color-inactive: #616161;
$tabs-ios-tab-color-active: #29c49a;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$button-md-border-radius: 10px;
$button-md-font-size: 2rem;
$button-md-height: 2.8em;
$button-md-text-color: white;
$button-md-outline-border-color: white;
$button-md-outline-border-width: 2px;
$button-md-outline-text-color: white;

$text-input-md-show-focus-highlight: false;
$text-input-md-background-color: white;

$tabs-md-tab-color-inactive: #616161;
$tabs-md-tab-color-active: #29c49a;

$label-md-text-color: black;
$label-md-text-color-focused: black;
