page-main {
  .logo {
    height: 1.8em;
    margin: auto;
  }

  .grid {
    height: 100%;
  }

  .spacer {
    flex: 1;
  }

  .buttons {
    flex: 4;
  }

  img, svg {
    width: 80%;
    margin-bottom: 1em;
  }

  .icon-character {
    fill: var(--green-dark);
  }

  .answered-badge, .news-badge {
    fill: var(--ion-color-danger);
  }

  .hidden {
    visibility: hidden;
    height: 0;
  }

}

.hint {
  text-align: center;
  width: 100%;
  padding: 24px;
}

ion-card {
  border-radius: 20px;
}


.transparent-button {
  --color: black;
}

.transparent-button ion-icon {
  padding-right: 10px;
}

.upvote {
  font-size: 1.5em;
  color: black;
}

.upvote-button {
  --box-shadow: none;
}

ion-content ion-card:last-child {
  margin-bottom: 50px;
}

ion-content ion-card {
  padding: 10px;
}

.highlight-text {
  color: var(--ion-color-primary);
}
