page-news {
  ion-card-header {
    color: var(--grey-dark);
    // font-size: small;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  ion-card-title {
    // font-size: huge;
    font-weight: 500;
  }
}
