ion-tab-bar {
  background: linear-gradient(
    var(--gradient-stop),
    var(--gradient-start)
  ) !important;

  ion-tab-button {
    background-color: transparent;
    color: var(--ion-color-secondary-contrast);
  }
}

.blurred {
  filter: url(#blur-filter);
}

#onboarding {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5%;
  background: rgba(50, 50, 50, 0.5);

  // ion-slides {
  //   height: 100%;
  // }

  svg { display: none; }

  .cards {
    margin: auto;
    height: 100%;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  }

  .slides {
    .swiper-slide { padding: 1em 4em; }
    .swiper-pagination-bullet {
      background: var(--ion-color-secondary);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: var(--ion-color-primary);
    }

    h1 {
      font-size: large;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
