ion-tab-bar {
  background: linear-gradient(
    var(--gradient-stop),
    var(--gradient-start)
  ) !important;

  ion-tab-button {
    background-color: transparent;
    color: var(--ion-color-secondary-contrast);
  }
}

.blurred {
  filter: url(#blur-filter);
}