<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main" type="overlay" [disabled]="(hasOnboardingFinished | async) === false">
      <ion-content>
        <ion-list>
          <ion-list-header>
            <ion-menu-toggle auto-hide="false">
              <ion-item
                routerDirection="root"
                detail="false"
                routerLink="/profile"
                lines="none">
                <ion-icon src="assets/icon/profile.svg" slot="start"></ion-icon>
                <ion-label class="my-profile">
                  {{ 'sidebar.profile' | translate }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item
              [class]="p.class ?? ''"
              routerDirection="root"
              [routerLink]="[p.url]"
              [lines]="p.lines ?? 'none'"
              detail="false"
              routerLinkActive="selected">
              <ion-label>{{ p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-note class="version" detail="false" lines="none">
          {{ 'sidebar.version' | translate }}: {{ version }}
        </ion-note>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="(isLoggedIn | async) && (hasOnboardingFinished | async)">
    <ion-fab-button (click)="showCreateQuestionModal()">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-app>
