<app-navbar title="imprint.title"></app-navbar>

<ion-content class="staticcontent">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Impressum Angaben gemäß § 5 TMG</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Center of the Cultivation of Technology<br />
        Gemeinnützige GmbH<br />
        Gottschedstrasse 4<br />
        13357 Berlin,<br />
        Germany
      </p>

      <p>
        E-Mail: <a href="contact@plus-me.de">contact@plus-me.de</a><br />
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Redaktionell verantwortlich</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Johannes Dittrich,<br />
        Caprivistraße 34C,<br />
        49076 Osnabrück
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
