<app-navbar title="imprint.title"></app-navbar>

<ion-content class="staticcontent">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Impressum Angaben gemäß § 5 TMG</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Center of the Cultivation of Technology<br/>
        Gemeinnützige GmbH<br/>
        Gottschedstrasse 4<br/>
        13357 Berlin,<br/>
        Germany
      </p>

      <p>
        E-Mail: <a href="contact@plus-me.de" title="Kontaktadresse">contact@plus-me.de</a><br/>
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Redaktionell verantwortlich</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Johannes Dittrich,<br/>
        Caprivistraße 34C,<br/>
        49076 Osnabrück
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Opensource!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        +me ist ein <a href="https://github.com/plus-me/frontend/blob/main/COPYING" title="Link zur Lizenz">
        freies opensource Projekt
      </a>.

      </p>

      <p>
        Wir würden uns freuen, wenn Du Fehler meldest oder sogar aktiv an der Verbesserung des Projekts mithelfen
        möchtest.
        Hier sind einige Links zu unserer Entwicklungsabteilung auf Github:
      </p>
      <ul>
        <li>
          <a href="https://github.com/plus-me/frontend/issues" title="Link zum Bugtracker" target="_blank">
            Fehler melden (Bugtracker)
          </a>
        </li>
        <li>
          <a href="https://github.com/plus-me" title="Link zur Github Organisation" target="_blank">
            Link zur Github-Orga mit allen Repositories
          </a>
        </li>
        <li>
          Du möchtest uns helfen die app zu verbessern?
          <a
            href="https://github.com/plus-me/frontend/issues?q=is%3Aissue+is%3Aopen+label%3A%22Action%3A+help+wanted%22"
            target="_blank" title="Link zu den help-wanted issues">
            Hier sind die "Help-wanted"-issues
          </a>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
