<app-navbar title="imprint.title"></app-navbar>

<ion-content class="staticcontent">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Impressum Angaben gemäß § 5 TMG</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Adriana Groh<br />
        Belforter Straße 22<br />
        10405 Berlin
      </p>

      <p>
        Telefon: <a href="tel:+4915223676745">0152 23676745</a><br />
        E-Mail: <a href="contact@plus-me.de">contact@plus-me.de</a><br />
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Redaktionell verantwortlich</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Johannes Dittrich,<br />
        Caprivistraße 34C,<br />
        49076 Osnabrück
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
