<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar *ngIf="!onlyBack">
    <ion-buttons *ngIf="isModal === false" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="hasSearch === false">
      <ion-button (click)="gotoSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      debounce="1000"
      *ngIf="hasSearch === true"
      placeholder="Suche..."
      showClearButton="never"
      (ionChange)="search($event)">
    </ion-searchbar>
    <ion-title *ngIf="hasSearch === false">{{ title | translate }}</ion-title>
    <ion-buttons *ngIf="isModal === true" slot="end">
      <ion-button>
        <ion-button menu="sort" (click)="presentPopover($event)"><ion-icon name="funnel-outline"></ion-icon></ion-button>
      </ion-button>
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="onlyBack">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
