<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="gotoSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="gotoInbox()">
        <ion-icon name="file-tray"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
