<ion-item [hidden]="hidden" class="question">
  <ion-grid>
    <ion-row class="unread-row" *ngIf="question.hasUnseenAnswers === true">
      <ion-chip class="unread">
        <ion-text color="white">{{ "questionListItem.unread" | translate}}</ion-text>
      </ion-chip>
    </ion-row>

    <ion-row class="tags ion-nowrap ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-chip
          *ngFor="let tag of question.tags"
          color="white"
          class="tag-chip ion-no-padding"
          (click)="getQuestionsByTag(tag)">
          #{{ tag.text }}
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="question-detail ion-text-wrap">
          <b>{{question.text}}</b>
        </ion-label>
      </ion-col>
    </ion-row>

    <app-question-list-item-meta [question]="question" [hideRelation]="hideRelation"></app-question-list-item-meta>

    <ion-row *ngIf="enableUpvote && question.voted === null">
      <ion-col>
        <ion-button
          (click)="upvoteQuestion()"
          align="bottom"
          shape="round"
          class="upvote-button"
          size="large"
          expand="block">
          <ion-text
            color="dark"
            class="upvote ion-text-lowercase">
            +me
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="enableDownvote && question.voted === null">
      <ion-col>
        <ion-button
          (click)="downvoteQuestion()"
          fill="clear"
          color="dark"
          class="transparent-button"
          expand="block">
          <ion-icon name="close-outline"></ion-icon>
          {{ 'questionBubble.notInterested' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="enableReporting && question.voted === null">
      <ion-col>
        <ion-button
          (click)="reportQuestion()"
          fill="clear"
          class="transparent-button"
          expand="block">
          <ion-icon name="alert-circle-outline"></ion-icon>{{ 'questionBubble.report' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
