.unread-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.unread {
  background: rgba(21, 225, 174, 1);
  height: 1.8em;
  font-weight: bold;
  font-size: 1.0em;
}

.question {
  --border-radius: 20px;
  padding-bottom: 10px;
}
.question-detail {
  font-size: 16px;
  color: black;
  text-align: justify;
  hyphens: auto;

}

.question-list-item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tags ion-chip {
  height: 1.8em;
}



.stats-label {
  padding-right: 0.5em;
}

.mine {
  background: rgba(14, 153, 118, 1);
  color: white;
  ion-text {
    white-space: nowrap;
  }
}

.answers {
  text-align: center;
}

.status-chip {
  text-align-last: end;
  white-space: nowrap;
}

ion-item::part(native) {
  padding-left: 0;
}

