<app-navbar [onlyBack]="true" title="answers.title"></app-navbar>

<ion-content>
  <ion-card class="question">
    <ion-card-content>
      <ion-row class="tags ion-nowrap ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-chip
            *ngFor="let tag of (question | async)?.tags"
            color="white"
            class="tag-chip ion-no-padding"
            (click)="getQuestionsByTag(tag)">
            #{{ tag.text }}
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="questionExpanded = !questionExpanded">
          <ion-text color="dark">
            <b>
              {{ (question | async)?.text | slice:0:(questionExpanded ? 280 : 80)}}
            </b>
          </ion-text>
          <ion-text color="dark" *ngIf="(question | async)?.text.length >= 80 && !questionExpanded">
            <b>
              ...
            </b>
          </ion-text>
        </ion-col>
        <ion-col size="1"  (click)="questionExpanded = !questionExpanded">
          <ion-icon name="chevron-down" *ngIf="!questionExpanded"></ion-icon>
          <ion-icon name="chevron-up" *ngIf="questionExpanded"></ion-icon>
        </ion-col>
      </ion-row>
      <app-question-list-item-meta
        *ngIf="questionExpanded"
        [question]="(question | async)"
        [hideRelation]="false">
      </app-question-list-item-meta>
    </ion-card-content>
  </ion-card>
  <ion-list class="answer-list">
    <ion-item *ngFor="let answer of (answers | async)">
      <ion-card class="answer">
        <ion-card-content>
          <ion-row class="answer-text">
            {{ answer.text }}
          </ion-row>
          <ion-row *ngIf="(isLoggedIn | async) === false" class="voting ion-padding-top">
            <ion-col>
              Bitte <a routerLink="/welcome">melde dich an</a> um zu sehen zu welcher Partei diese Antwort gehört
            </ion-col>
          </ion-row>
          <ion-row *ngIf="(isLoggedIn | async) === true" class="voting">
            <ion-col class="ion-align-items-start down-vote">
              <ion-fab-button
                [disabled]="answer.voted !== undefined"
                (click)="downvote(answer)"
                *ngIf="answer.voted === 'downvote' || answer.voted === undefined">
                👎
              </ion-fab-button>
            </ion-col>
            <ion-col class="submitter">
              <ion-text class="vote-to-see" *ngIf="answer.voted === undefined">{{ "answers.reveal" | translate }}</ion-text>
              <ion-text class="revealed" color="dark"
                        *ngIf="answer.voted !== undefined">{{answer.party.short_name}}</ion-text>
            </ion-col>
            <ion-col class="ion-align-items-start down-vote up-vote">
              <div>
                <ion-fab-button
                  [disabled]="answer.voted !== undefined"
                  (click)="upvote(answer)"
                  *ngIf="answer.voted === 'upvote' || answer.voted === undefined">
                  👍
                </ion-fab-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
