
.question-bubble {
  border-radius: 40px;
  margin-top: 10vh;
  max-height: 70vh;
}

.votes {
  color: rgba(21, 225, 174, 1);
  font-size: 3em;
}

.question {
  text-align: center;
  display: flex;
  height: 40vh;
  font-size: 16px;
  color: black;
  padding-top: 20px;
  word-break: break-word;
  max-height: 29vh;
  overflow: scroll;

  b {
    width:100%;
    max-width: 89vw;
  }
}

.tag-chip {
  --background: black;
  --color: white;
  height: 1.5em;
  font-weight: 700;
}

// TODO: This applies to all question related submit buttons:
.upvote {
  font-size: 1.5em;
  color: black;
}

.upvote-button {
  --box-shadow: none;
}

// /TODO

.transparent-button {
  --color: black;
}

.transparent-button ion-icon {
  padding-right: 10px;
}

