
.question-bubble {
  border-radius: 40px;
}

.votes {
  color: var(--ion-color-primary);
  font-size: 3em;
}

.question {
  text-align: center;
  display: block;
  height: 20vh;
  font-size: 16px;
  color: black;
  word-break: break-word;
  max-height: 29vh;
  overflow-y: scroll;
  hyphens: auto;

  span {
    font-weight: bold;
    width:100%;
    max-width: 89vw;
  }
}

.question::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.question::-webkit-scrollbar-thumb {
  background-color: var(--ion-color-primary);
}

.tag-chip {
  --background: black;
  --color: white;
  height: 1.5em;
  font-weight: 700;
  white-space: nowrap;
}
