
.question-bubble {
  border-radius: 40px;
}

.votes {
  color: rgba(21, 225, 174, 1);
  font-size: 3em;
}

// .question {
//   font-size: 1.5em;
//   color: black;

//   --padding-top: 20px;
//   --padding-bottom: 20px;
//   --min-height: 100px;
//   --max-height: 100px;
//   overflow-y: auto;
// }

.tag-chip {
  --background: black;
  --color: white;
  height: 1.5em;
  font-weight: 700;
}

// TODO: This applies to all question related submit buttons:
.upvote {
  font-size: 1.5em;
  color: black;
}

.upvote-button {
  --box-shadow: none;
}
// /TODO

.transparent-button {
  --color: black;
}

.transparent-button ion-icon {
  padding-right: 10px;
}

ion-content::part(scroll) {
  display: flex;
  align-items: center;
}
