<h2 class="hint" translate *ngIf="(questions | async) === undefined || (questions | async)?.length === 0">myQuestionsListComponent.myQuestions</h2>

<ion-list no-lines class="wrapping-list">
  <ng-container class="item-wrapper" *ngFor="let question of (questions | async)">
    <ng-container *ngIf="!answeredOnly || (question.answers.length > 0)">
      <app-question-list-item [question]="question" [hideRelation]="false" [enableReporting]="true"
                              [enableDownvote]="!downvotedOnly && !question.own" [enableUpvote]="downvotedOnly"
                              (textClick)="loadAnswerPage($event)" (tagClick)="loadSearchPage($event)">
      </app-question-list-item>
    </ng-container>
  </ng-container>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="light" shape="round" *ngIf="(page | async) > 1" (click)="this.loadPreviousPage()">
        <ion-label>{{ 'SEARCH.previous' | translate}}</ion-label>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="light" shape="round" (click)="this.loadNextPage()" *ngIf="(maximumPages | async) > (page | async)">
        <ion-label>{{ 'SEARCH.next' | translate}}</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-list>
