<app-navbar [isModal]="isModal" title="Datenschutzerklärung +me App"></app-navbar>

<ion-content class="staticcontent">
  <ion-card>
    <ion-card-content>
      Wir messen dem Schutz personenbezogener Daten einen hohen Stellenwert bei und respektieren Ihren Wunsch nach Privatsphäre. Im Folgenden informieren wir Sie über die Erhebung personenbezogener Daten bei Nutzung unserer App. Sollten darüber hinaus noch Fragen zum Umgang mit Ihren personenbezogenen Daten offenbleiben, wenden Sie sich gerne an uns.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Verantwortliche Stelle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Die verantwortliche Stelle im Sinne der Datenschutz-Grundverordnung (DSGVO) ist die:<br />
<br />
Political Innovation Association (PIA) e.V.<br />
Heinrich-Baumann-Straße 28<br />
70190 Stuttgart<br />
Deutschland<br />
<br />
E-Mail: <a href="contact@plus-me.de">contact@plus-me.de</a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kontakt</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bei Ihrer Kontaktaufnahme mit uns per E-Mail werden die von Ihnen mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre Telefonnummer) von uns gespeichert, um Ihre Fragen zu beantworten und Ihre Anliegen zu bearbeiten. Rechtsgrundlage ist insoweit Art. 6 Abs. 1 S. 1 lit. f DSGVO.<br />
<br />
Ihre Daten, die wir im Rahmen der Kontaktaufnahme erhalten haben, werden gelöscht, sobald sie für die Erreichung des Zwecks ihrer Erhebung nicht mehr benötigt werden, Ihr Anliegen vollständig bearbeitet und keine weitere Kommunikation mit Ihnen erforderlich oder von Ihnen gewünscht ist.<br />
<br />
Wir haben als datenschutzrechtlich verantwortliche Stelle zahlreiche technische und organisatorische Maßnahmen umgesetzt, um einen möglichst lückenlosen Schutz der über diese App verarbeiteten personenbezogenen Daten sicherzustellen. Dennoch können internetbasierte Datenübertragungen grundsätzlich Sicherheitslücken aufweisen. Ein absoluter Schutz kann nicht gewährleistet werden, jedenfalls ist der Versand von unverschlüsselten E-Mails nicht sicher. Wir bitten deshalb darum, sensible Daten nicht mittels unverschlüsselter E-Mail zu versenden, sondern hierfür entweder verschlüsselte Kommunikationswege oder den Postweg zu nutzen.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ihre Rechte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Gerne geben wir Ihnen Auskunft darüber, ob Sie betreffende personenbezogene Daten verarbeitet werden; ist dies der Fall, so haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten und auf die in Art. 15 DSGVO im Einzelnen aufgeführten Informationen. Darüber hinaus steht Ihnen unter den jeweiligen gesetzlichen Voraussetzungen das Recht auf Berichtigung (Art. 16 DSGVO), das Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO), das Recht auf Löschung (Art. 17 DSGVO) und das Recht auf Datenübertragbarkeit (Art. 20 DSGVO) zu.<br />
<br />
Sie haben unter den gesetzlichen Voraussetzungen das Recht Widerspruch gegen die Verarbeitung einzulegen (Art. 21 DSGVO).<br />
<br />
Zur Wahrnehmung Ihrer vorstehenden Rechte wenden Sie sich bitte per E-Mail an contact@plus-me.de oder postalisch an Adriana Groh, Belforter Straße 22, 10405 Berlin. Die Inanspruchnahme Ihrer vorstehenden Rechte ist für Sie kostenlos.<br />
<br />
Sie haben unbeschadet dieser Rechte und der Möglichkeit einer Geltendmachung eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs, jederzeit die Möglichkeit, Ihr Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, geltend zu machen, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen datenschutzrechtliche Vorschriften verstößt (Art. 77 DSGVO).<br />
<br />
Die für uns zuständige Aufsichtsbehörde ist:<br />
<br />
Berliner Beauftragte für Datenschutz und InformationsfreiheitFriedrichstr. 21910969 Berlin<br />
<br />
Telefon: 030 13889-0<br />
Telefax: 030 2155050<br />
E-Mail: mailbox@datenschutz-berlin.de
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rechtsgrundlagen unserer Datenverarbeitung</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Die Verarbeitung von personenbezogenen Daten kann auf verschiedene Rechtsgrundlagen gestützt werden. Sofern wir Ihre Daten zur Erfüllung eines Vertrages mit Ihnen oder zur Beantwortung von Anfragen Ihrerseits bezüglich eines Vertrages benötigen, ist Rechtsgrundlage für diese Datenverarbeitung Art. 6 Abs. 1 S. 1 lit. b DSGVO. Holen wir für eine bestimmte Datenverarbeitung Ihre Einwilligung ein, ist die Rechtsgrundlage Art. 6 Abs. 1. S. 1 lit. a DSGVO. Einige Datenverarbeitungen führen wir auf der Grundlage unseres berechtigten Interesses durch, wobei stets eine Abwägung zwischen Ihren schutzwürdigen Interessen und unseren berechtigten Interessen vorgenommen wird. Rechtsgrundlage hierbei ist Art. 6 Abs. S. 1 lit. f DSGVO. Soweit die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, der wir unterliegen, ist Rechtsgrundlage Art. 6 Abs. 1 S. 1 lit. c DSGVO.<br />
<br />
Nachfolgend erläutern wir, wie wir personenbezogene Daten über unsere App verarbeiten.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datenverarbeitung bei App-Nutzung</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bei der bloß informatorischen Nutzung der App, also, wenn Sie sich nicht registrieren oder uns anderweitig Informationen übermitteln, erheben wir folgende technischen Informationen (Logfile-Daten):<br />
<ul><li>
 Betriebssystem des Endgerätes, mit dem Sie unsere App nutzen Browser (Typ, Version & Spracheinstellungen) die abgerufene Datenmenge/Datei, API-Endpoint die aktuelle IP-Adresse des Endgerätes, mit dem Sie unsere App nutzen Datum und Uhrzeit des Zugriffs die URL der zuvor besuchten Webseite (Referrer)
</li></ul>

Die Erhebung dieser Daten ist technisch erforderlich, um Ihnen unsere App zu betreiben und Stabilität und Sicherheit zu gewährleisten. Uns (und unserem Dienstleister) ist regelmäßig nicht bekannt, wer sich hinter einer IP-Adresse verbirgt. Wir führen die oben aufgeführten Daten nicht mit anderen Daten zusammen. Die Logfiles werden für die Dauer von 7 Tagen gespeichert und dann gelöscht.<br />
<br />
Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DSGVO. Da die Erhebung und Speicherung der Logfiles für die Bereitstellung und den Betrieb der App und zum Schutz vor Missbrauch zwingend erforderlich sind, überwiegt an dieser Stelle unser berechtigtes Interesse an der Datenverarbeitung.<br />
<br />
Darüber hinaus erheben wir bei Betrieb der App folgende Daten, die Sie uns bei Inanspruchnahme unserer Dienstleistung ggf. mitteilen:

<ul><li>
 Die von Ihnen formulierten Fragen an die Parteien Informationen zum Up- bzw. Downvote Ihrer Fragen Informationen zum Up- bzw. Downvote der Antworten der Parteien
</li></ul>

Rechtsgrundlage für diese Datenverarbeitung ist Art. 6 Abs. 1 S. 1 lit. b DSGVO, da sie für die Bereitstellung unserer Dienstleistung erforderlich ist.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datensicherheit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Wir haben umfangreiche technische und betriebliche Schutzvorkehrungen getroffen, um Ihre Daten vor zufälligen oder vorsätzlichen Manipulationen, Verlust, Zerstörung oder dem Zugriff unberechtigter Personen zu schützen. Unsere Sicherheitsverfahren werden regelmäßig überprüft und dem technologischen Fortschritt angepasst.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datenübermittlung</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Eine Übermittlung Ihrer personenbezogenen Daten an Dritte findet grundsätzlich nicht statt, es sei denn, wir sind gesetzlich dazu verpflichtet, oder die Datenweitergabe ist zur Durchführung des Vertragsverhältnisses erforderlich oder Sie haben zuvor ausdrücklich in die Weitergabe Ihrer Daten eingewilligt.<br />
<br />
Externe Dienstleister und Partnerunternehmen wie z.B. Online-Payment-Anbieter oder Versandunternehmen erhalten Ihre Daten nur, soweit dies zur Abwicklung unserer Dienstleistung erforderlich sein sollte. In diesen Fällen beschränkt sich der Umfang der übermittelten Daten jedoch auf das erforderliche Minimum. Soweit unsere Dienstleister in unserem Auftrag Ihre personenbezogenen Daten verarbeiten, stellen wir im Rahmen der Auftragsverarbeitung gem. Art. 28 DSGVO sicher, dass diese die Vorschriften der Datenschutzgesetze in gleicher Weise einhalten. Bitte beachten Sie auch die Datenschutzhinweise der jeweiligen Anbieter. Für die Inhalte fremder Dienste ist der jeweilige Diensteanbieter verantwortlich, wobei wir im Rahmen der Zumutbarkeit eine Überprüfung der Dienste auf die Einhaltung der gesetzlichen Anforderungen durchführen.<br />
<br />
Wir legen Wert darauf, Ihre Daten innerhalb der EU / des EWR zu verarbeiten. Es kann allerdings vorkommen, dass wir Dienstleister einsetzen, die außerhalb der EU / des EWR Daten verarbeiten. In diesen Fällen stellen wir sicher, dass vor der Übermittlung Ihrer personenbezogenen Daten ein angemessenes Datenschutzniveau, dass mit den Standards innerhalb der EU vergleichbar ist, beim Empfänger hergestellt wird. Dies kann beispielsweise über EU-Standardverträge oder Binding Corporate Rules oder besondere Übereinkommen, deren Regelungen sich das Unternehmen unterwerfen kann, erreicht werden.

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Was sind Cookies?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Cookies sind Daten, die von einer Website oder App, die Sie besuchen, auf Ihrem Rechner bzw. Endgerät hinterlegt werden und eine erneute Zuordnung Ihres Browsers ermöglichen. Durch Cookies werden der Stelle, die den Cookie einsetzt, Informationen übermittelt. Cookies können verschiedene Informationen speichern, wie beispielsweise Ihre Spracheinstellung, die Besuchsdauer auf unserer Website oder Ihre dort getroffenen Eingaben. Dadurch wird z.B. vermieden, dass Sie bei jeder Nutzung erforderliche Formulardaten erneut eingegeben müssen. Die in Cookies gespeicherten Informationen können auch dazu genutzt werden, Präferenzen zu erkennen und Inhalte nach Interessengebieten auszurichten.<br />
<br />
Es gibt verschiedene Arten von Cookies: Session-Cookies sind Datenmengen, die nur vorübergehend im Arbeitsspeicher vorgehalten und gelöscht werden, wenn Sie Ihren Browser schließen. Dauerhafte oder persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann. Die Informationen können bei dieser Art Cookies auch in Textdateien auf Ihrem Rechner gespeichert werden. Sie können jedoch auch diese Cookies über die Einstellungen Ihres Browsers jederzeit löschen.<br />
<br />
Erstanbieter-Cookies werden von der Webseite oder App gesetzt, die Sie gerade besuchen bzw. nutzen. Nur diese Webseite/App darf Informationen aus diesen Cookies lesen. Drittanbieter-Cookies werden von Organisationen gesetzt, die nicht Betreiber der Webseite oder App sind, die Sie besuchen. Diese Cookies werden zum Beispiel von Marketing-Unternehmen verwendet.<br />
<br />
Die Rechtsgrundlagen für mögliche Verarbeitungen personenbezogener Daten mittels Cookies und deren Speicherdauer können variieren. Soweit Sie uns eine Einwilligung erteilt haben, ist Rechtsgrundlage Art.6 Abs.1 S.1 lit. a DSGVO. Soweit die Datenverarbeitung auf der Grundlage unserer überwiegenden berechtigten Interessen erfolgt, ist Rechtsgrundlage Art. 6 Abs.1 S.1 lit. f DSGVO. Der angegebene Zweck entspricht dann unserem berechtigten Interesse.<br />
<br />
Wir verwenden Cookies lediglich um den ordnungsgemäßen Betrieb der App sicherzustellen, zur Bereitstellung grundlegender Funktionalitäten, jedoch nicht zur Reichweitenmessung, Werbetracking oder um unsere Services auf bevorzugte Interessengebiete zuzuschneiden.
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-header>
      <ion-card-title>Registrierung</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Sie haben die Möglichkeit, sich in unserer App zu registrieren und ein Nutzerkonto anzulegen. Notwendig anzugebende personenbezogene Daten sind dabei im jeweiligen Anmeldeformular als Pflichtfeld gekennzeichnet, darüberhinausgehende Angaben sind freiwillig.<br />
<br />
Für die Registrierung erheben und speichern wir von Ihnen folgende Daten:
<ul><li>
 E-Mail (Benutzername) Passwort bzw. Autorisierung-Token über einen auswählbaren Anbieter
</li></ul>
Wir verwenden für die Registrierung das sog. Double-Opt-In-Verfahren, d. h. Ihre Registrierung ist erst abgeschlossen, wenn Sie zuvor Ihre Anmeldung über eine Ihnen zu diesem Zweck zugesandte Bestätigungs-E-Mail durch Klick auf den darin enthaltenem Link bestätigt haben. Falls Ihre diesbezügliche Bestätigung nicht erfolgt, wird Ihre Anmeldung automatisch aus unserer Datenbank gelöscht. Nach erfolgter Registrierung erhalten Sie einen persönlichen, passwortgeschützten Zugang und können die von Ihnen hinterlegten Daten einsehen und verwalten. Die Registrierung erfolgt freiwillig, kann aber Voraussetzung sein, um bestimmte unserer Dienste in Anspruch zu nehmen.<br />
<br />
Wir speichern Ihre zur Vertragserfüllung erforderlichen Daten, ggf. auch Angaben zur Zahlungsweise, bis Sie Ihren Zugang endgültig löschen. Weiterhin speichern wir die von Ihnen zusätzlich angegebenen Daten für die Zeit Ihrer Nutzung des Kunden/Nutzerkontos, soweit Sie diese nicht zuvor löschen. Alle Angaben können Sie im geschützten Kundenbereich verwalten und ändern.<br />
<br />
Sie können Nutzerkonto jederzeit löschen. Bei Löschung des Kontos werden alle personenbezogenen Daten, die nicht einer gesetzlichen Aufbewahrungspflicht oder Artikel 17 Abs. 3 DSGVO unterfallen, gelöscht.<br />
<br />
Rechtsgrundlage ist für diese Datenverarbeitung sind Art. 6 Abs. 1 lit. a, b und f DSGVO.
    </ion-card-content>
  </ion-card>
      <ion-card>
    <ion-card-header>
      <ion-card-title>Social Logins</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Wir verwenden auf unserer Webseite/App sogenannte Social Logins über verschiedene Social Media Anbieter wie z.B. Facebook oder Instagram. Ein Social Login erleichtert Ihnen die Registrierung für Dienste im Internet. Hierdurch bieten wir Ihnen die Möglichkeit, sich über eins Ihrer Social Media Konten in unserer App zu registrieren und anzumelden, um unser Angebot zu nutzen.<br />
<br />
Wenn Sie sich z.B. über Facebook registrieren, wird Facebook Sie um Ihre Einwilligung zur Freigabe bestimmter Daten in Ihrem Facebook-Konto an uns bitten. Hierzu können Ihr Vorname, Nachname und Ihre E-Mail-Adresse gehören, um Ihre Identität und Ihr Geschlecht zu verifizieren, sowie der allgemeine Standort, ein Link zu Ihrem Facebook-Profil, Ihre Zeitzone, Ihr Geburtsdatum, Ihr Profilbild, Ihre „Gefällt mir“-Angaben und Ihre Freundesliste.<br />
<br />
Diese Daten werden von Facebook erhoben und unter Einhaltung der Bestimmungen der Datenrichtlinie von Facebook (https://www.facebook.com/about/privacy) an uns übermittelt. Sie können die Informationen, die wir von Facebook erhalten, über die Privatsphäre-Einstellungen in Ihrem Facebook-Konto steuern.<br />
<br />
Diese Daten werden zur Einrichtung, Bereitstellung und Personalisierung Ihres Accounts genutzt.<br />
<br />
Wenn Sie sich über Facebook bei uns registrieren, wird Ihr Account automatisch mit Ihrem Facebook-Konto verbunden und Informationen zu Ihren Aktivitäten auf unseren Webseiten werden ggf. auf Facebook geteilt und in Ihrer Chronik und Neuigkeiten-Anzeige für Freunde veröffentlicht.<br />
<br />
Soweit Daten außerhalb des Europäischen Wirtschaftsraum / der EU verarbeitet werden, wo kein dem Europäischen Standard entsprechendes Datenschutzniveau besteht, setzt Facebook nach eigenen Angaben Standardvertragsklauseln ein.<br />
<br />
Rechtsgrundlage für die im Zusammenhang mit Facebook Connect stehende Datenverarbeitung Ihrer personenbezogenen Daten ist Ihre Einwilligung gem. Art. 6 Abs. 1 S. 1 lit. a), 7 DSGVO. Eine Verarbeitung vorstehender Informationen durch Facebook können Sie dadurch verhindern, indem Sie unsere Registrierungsmaske verwenden und Facebook Connect nicht nutzen.
    </ion-card-content>
  </ion-card>
</ion-content>
